html{ box-sizing: border-box;}
*,*::after,*::before{box-sizing: inherit;}

body {
    margin: 0;
    padding: 0;
  
    font-family: "Cuprum", "PT Sans", "Helvetica", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    text-transform: none;
  }

.main-header {
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;

    background-color: #f4f7f9;
}

.main-header-site {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.search:hover,
.bookmarks:hover,
.basket:hover {
    background-color: #212a3a;
}

.search:active,
.bookmarks:active {
    color: rgba(0, 0, 0, 0.6);
    background-color: #161d29;
}

.purchase {
    background-color: #63a63e;
}


.purchase:hover {
    background-color: #5fbb2d;
}

.purchase:active {
    color: rgba(0, 0, 0, 0.6);
    background-color: #518534;
}

.site-navigation {
    list-style: none;
}


.site-navigation a {
    color: #ffffff;
    text-decoration: none;
}

.about-website {
    font-style: italic;
    color: #ee3643;
}

.tel-number {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    text-decoration: none;
}

.address {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.entrance {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.accaunt-name {
    background-color: #ffffff;
}

.accaunt, 
.accaunt-in,
.accaunt-reg {
    background-color: #ffffff;
}

.entrance a {
    color: #000000;
    text-decoration: none;
}

.entrance a:not(.accaunt-name):hover {
    color: #ee3643;
}

.entrance a:active {
    color: rgba(0, 0, 0, 0.3);
}

.entrance ul {
    list-style: none;
}

.accaunt-links {
    font-size: 16px;
    line-height: 18px;
}

.accaunt-links a {
    text-decoration: underline;
}

.accaunt-links a:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
    font-size: 17px;
    line-height: 17px;

    background-color: #32425c;
}

.main-navigation ul {
    list-style: none;
}

.main-navigation a {
    color: #ffffff;
    text-decoration: none;    
}

.user-navigation a:hover {
    background-color: #293449;
}

.user-navigation a:active {
    color: rgba(0, 0, 0, 0.5);
}

.main {
    font-family: "PT Sans";
    background-color: #ffffff;
    color: #000000;
}

.breadcrumbs {
    font-size: 13px;
    line-height: 18px;
    list-style: none;
}

.breadcrumbs a {
    color: #000000;
    text-decoration: none;
}

.manufactures ul {
    list-style: none;
}

.main-perf {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f2f6f8;    
}

.checkbox-manufactures-head,
.electric-head {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-option {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filter-button {
    background-color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.drill {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.drill-list {
    list-style: none;
}

.drill a {
    text-decoration: none;
    color: #000000;
}

.price {
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.old-price {
    color: #999999;
    text-decoration: line-through;

}

.new-price {
    color: #ffffff;
    background-color: #ee3643;

}

.about-head {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: "Cuprum";
}

.about-title {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
}

.transport {
    font-size: 18px;
    line-height: 20px;
    list-style: none;
    font-family: "Cuprum";
}

.about-link {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;

    text-transform: uppercase;
    text-decoration: none;
    background-color: #ee3643;
    font-family: "Cuprum";
}

.footer-block {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    background-color: #32425c;
}

.tel {
    text-decoration: none;
    color: #f3f7f9;
}

.website-nav-footer-list li {
    list-style: none;
}

.website-nav-footer a {
    color: #ffffff; 
    text-decoration: none;
}

.website-nav-footer a:hover {
    text-decoration: underline;
}

.website-nav-footer a:active {
    color: rgba(0, 0, 0, 0.5);
}

.website-catalog-footer ul {
    list-style: none;
}

.website-catalog-footer a {
    color: #ffd180;
    text-decoration: none;
}

.website-catalog-footer a:hover {
    text-decoration: underline;
}

.website-catalog-footer a:active {
    color: rgba(0, 0, 0, 0.5);
}

.footer-under-about {
    background-color: #293449;
}

.info-teh {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.social-list ul {
    list-style: none;
    background-color: #212a3a;
}

.social-list li {
    list-style: none;
}

.social-list a {
    background-color: #212a3a;
}

.social-list a:hover {
    background-color: #ee3643;
}

.social-list a:active {
    background-color: #ee3643;
}

.footer-under-contacts {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.footer-under-contacts a {
    color: #ffd180;
    text-decoration: none;
}

.footer-under-contacts a:hover {
    text-decoration: underline;
}

.footer-under-contacts a:active {
    color: #ee3643;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ----- Сеточные стили ----- */

.wrap {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header-site .wrap {
    display: flex;
}

.site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

.main-brend {
    width: 220px;
}

.search {
    width: 270px;
}

.bookmarks {
    width: 150px;
}

.purchase {
    width: 150px;
}

.basket {
    width: 150px;
}

.main-header-about {
    display: flex;
    padding-top: 50px;
}

.about-website {
    width: 200px;
    margin: 0px 0px 0px 82px;
}

.main-tel {
    margin: 0px 0px 0px 70px;
}

.tel-number {
    width: 270px;
    padding-left: 73px;
    padding-right: 49px;
    border: 2px solid white;
}

.address {
    margin-left: 8px;
}

.entrance {
    margin: 0px 0px 0px 57px;
}

.accaunt-links {
    display: flex;
    width: 212px;
    padding: 0;
    
}

.user-navigation {
    display: flex;
    width: 940px;
    padding: 0;
    
}

.user-navigation li {
    width: 140px;
}

.user-navigation-li {
    width: 140px;
}

.breadcrumbs {
    display: flex;
}

.about {
    display: flex;
}

.about {
    padding-top: 71px;
}

.company {
    width: 523px;
}

.contact {
    width: 305px;
    margin-left: 113px;
}

.footer-block .wrap {
    display: flex;
}

.footer-contacts {
    margin-top: 30px;
}

.main-footer-top {
    width: 330px;
}

.main-footer-menu {
    width: 548px;
}

.website-nav-footer-list {
    margin: 43px 0px 0px 60px;
    display: flex;
}

.website-catalog-footer-list {
    margin: 40px 0px 0px 86px;
    display: flex;
}

.footer-under-about .wrap {
    display: flex;
}

.info-teh {
    width: 230px;
}

.footer-social {
    width: 133px;
    margin: 17px 0px 0px 66px;
}

.social-list {
    display: flex;
}

.footer-under-contacts {
    display: flex;
    margin-left: 116px;
    width: 289px;
}

.email {
    width: 140px;
}

.develop {
    width: 100px;
    margin-left: 51px;
}

.catalog {
    display: flex;
}

.manufactures-block-left {
    width: 224px;
    margin-right: 24px;
    border: 0;
}

.block-right {
    width: 699px;
}

.drill-catalog {
    width: 699px;
}

.drill {
    width: 218px;
    margin-right: 20px;
}

.drill-list {
    display: flex;
    width: 699px;
    flex-wrap: wrap;
    padding: 0px;
}

.drill-list li:nth-child(3n) {
    margin-right: 0px;
}

.pagination {
    display: flex;
    width: 283px;
    list-style: none;
}
