body {
    margin: 0;
    padding: 0;
  
    font-family: "Cuprum", "PT Sans", "Helvetica", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    text-transform: none;
  }

header {
    font-style: normal;
    font-size: 16px;
    line-height: 23px;
    font-family: "Cuprum";
    color: #ffffff;

    background-color: #f4f7f9;
}

.main-header-site {
    font-style: normal;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.search:hover,
.bookmarks:hover,
.basket:hover {
    background-color: #212a3a;
}

.search:active,
.bookmarks:active {
    color: rgba(0, 0, 0, 0.6);
    background-color: #161d29;
}

.purchase {
    background-color: #63a63e;
}


.purchase:hover {
    background-color: #5fbb2d;
}

.purchase:active {
    color: rgba(0, 0, 0, 0.6);
    background-color: #518534;
}

.main-header-site ul {
    list-style: none;
}


.site-navigation a {
    color: #ffffff;
    text-decoration: none;
}

.about-website {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.tel-number {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    text-decoration: none;
}

.address {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.entrance {
    font-size: 21px;
    line-height: 21px;
    color: #000000;

    background-color: #ffffff;
}

.entrance a {
    color: #000000;
    text-decoration: none;
}

.entrance a:not(.account-name):hover {
    color: #ee3643;
}

.entrance a:active {
    color: rgba(0, 0, 0, 0.3);
}

.my-orders,
.personal-area {
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    background-color: #f1f5f7;
}

.my-orders a:active,
.personal-area a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
    font-size: 17px;
    line-height: 17px;

    background-color: #32425c;
}

.main-navigation ul {
    list-style: none;
}

.main-navigation a {
    color: #ffffff;
    text-decoration: none;    
}

.user-navigation li:hover {
    background-color: #293449;
}

.user-navigation li:active {
    color: rgba(0, 0, 0, 0.5);
}

main {
    font-family: "PT Sans";
    background-color: #ffffff;
    color: #000000;
}

.breadcrumbs {
    font-size: 13px;
    line-height: 18px;
    list-style: none;
}

.breadcrumbs a {
    color: #000000;
    text-decoration: none;
}

.main-perf {
    font-family: "Cuprum";
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f2f6f8;    
}

.checkbox-manufactures-head,
.electric-head {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-option {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filter-button {
    background-color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.drill {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.drill ul {
    list-style: none;
}

.drill a {
    text-decoration: none;
    color: #000000;
}

.old-price {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: #999999;
    text-decoration: line-through;
    text-transform: uppercase;
}

.new-price {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ee3643;
    text-transform: uppercase;
}

.about-name,
.contact-head {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.about-title,
.contact-text {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
}

.transport {
    font-size: 18px;
    line-height: 20px;
    list-style: none;
}

.about-company,
.contact-link {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;

    text-transform: uppercase;
    text-decoration: none;
    background-color: #ee3643;
}

.footer-block {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    background-color: #32425c;
}

.tel {
    text-decoration: none;
}

.website-nav-footer ul {
    list-style: none;
}

.website-nav-footer a {
    color: #ffffff; 
    text-decoration: none;
}

.website-nav-footer li:hover {
    text-decoration: underline;
}

.website-nav-footer li:active {
    color: rgba(0, 0, 0, 0.5);
}

.website-catalog-footer ul {
    list-style: none;
}

.website-catalog-footer a {
    color: #ffd180;
    text-decoration: none;
}

.website-catalog-footer li:hover {
    text-decoration: underline;
}

.website-catalog-footer li:active {
    color: rgba(0, 0, 0, 0.5);
}

.footer-under-about {
    background-color: #293449;
}

.info-teh {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.social-list {
    background-color: #212a3a;
}

.social-list li {
    list-style: none;
    background-color: #212a3a;
}

.social-list li:hover {
    background-color: #ee3643;
}

.social-list li:active {
    background-color: #ee3643;
}

.footer-under-contacts {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.footer-under-contacts a {
    color: #ffd180;
    text-decoration: none;
}

.footer-under-contacts a:hover {
    text-decoration: underline;
}

.footer-under-contacts a:active {
    color: #ee3643;
}